<%= form_for @user, :method => :put, :url => update_my_details_path do |f|%>
  <%= render "shared/error_messages", :target => @user %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <% unless current_user.email_confirmed? %>
      <%= link_to "Confirm Email Address", new_email_confirm_path %>
    <% else %>
      <%= f.label "Confirmed!" %>
    <% end %>
  </div>
  <%= render 'roles' %>
  <div class="actions">
    <%= f.submit "Update My Details" %>
  </div>
<% end %>
