<%= content_for :user_sort_links do %>
  <nav class="nice_round" id="users-sort-links">
    <ul>
      <% if can? :list, :students %>
        <li><%= link_to "Show Students", users_path(:roles_mask => '1') %></li>
      <% end %>
      <% if can? :list, :advisors %>
        <li><%= link_to "Show Advisors", users_path(:roles_mask => '2') %></li>
      <% end %>
      <% if can? :list, :professors %>
        <li><%= link_to "Show Professors", users_path(:roles_mask => '4') %></li>
      <% end %>
      <% if can? :list, :gods %>
        <li><%= link_to "Show Gods", users_path(:roles_mask => '8') %></li>
      <% end %>
    </ul>
  </nav>
<% end %>
