<%= title "Listing Users" %>
<%= render 'users/links' %>
<%= markdown "###{yield(:title)}" %>

<% if @users.count > 0 %>
  <table>
    <tr>
      <th>Name <em>(Click to Show)</em></th>
      <th>Email <em>(Click to Edit)</em></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= link_to user.email, edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= markdown "No users were found. Would you like to #{link_to "Create a User", new_user_path} ?" %>
<% end %>
