<%= title "Listing Users" %>
<%= render 'users/links' %>
<nav class="nice_round" id="users-sort-links">
  <ul>
    <% if can? :list_students, User.with_role(:student) %>
      <li><%= link_to "Show Students", users_path(:roles_mask => '1') %></li>
    <% end %>
  </ul>
</nav>
<%= markdown "###{yield(:title)}" %>

<% if @users.count > 0 %>
  <table class="round">
    <tr>
      <th>Name <em>(Click to Show)</em></th>
      <th>Email <em>(Click to Edit)</em></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <% if can? :read, User %>
        <td><%= link_to user.name, user %></td>
      <% end %>
      <% if can? :edit, User %>
        <td><%= link_to user.email, edit_user_path(user) %></td>
      <% end %>
      <% if can? :destroy, User %>
        <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= markdown "No users were found. Would you like to #{link_to "Create a User", new_user_path} ?" %>
<% end %>
