<% if current_user %>
  <section>
    <div id="roles">
      <% for role in current_user.roles %>
        <%= content_tag(:div, "", :class => "#{role.to_s.humanize.downcase}") do %>
        <p>
          Hello <%= current_user.name %>.
          <% if current_user.role? :god %>
            <%= render :partial => 'shared/god_links' %>
          <% elsif current_user.role? :student %>
            <%= render :partial => 'shared/student_links' %>
          <% elsif current_user.role? :advisor %>
            <%= render :partial => 'shared/advisor_links' %>
          <% elsif current_user.role? :professor %>
            <%= render :partial => 'shared/professor_links' %>
          <% end %>
        </p>
        <% end %>
      <% end %>
    </div>
  </section>
<% end %>
