<%= form_for @survey do |f| %>
  <%= render "shared/error_messages", :target => @survey %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :publish, "Publish?" %>
    Yes <%= f.radio_button :published, true %> 
    No <%= f.radio_button :published, false %>
  </div>

  <div class="field">
    <%= f.label :available_at, "Available On" %><br />
    <%= f.datetime_select :available_at, :ampm => true %>
  </div>

  <div class="field anonymous">
    Make Survey Anonymous?<br />
    Yes: <%= f.radio_button :anonymous, true %>
    No: <%= f.radio_button :anonymous, false %>
  </div>

  <div class="field">
    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', :f => builder %>
    <% end %>
  </div>

  <div class="actions">
    <p>
    <% #SPEC: 2.2.10 : Adding a new questions to a Survey(form) %>
      <%= link_to_add_fields "Add Question", f, :questions %>
    </p>
    <%= f.submit "Submit" %>
  </div>

<% end %>
