<% title "Edit Survey" %>
<%= render 'surveys/links' %>

<br />
<nav class="short round">
  <ul>
    <% if can? :index, @survey %>
      <li><%= link_to "Show #{@survey.name.inspect}", @survey %> |</li>
    <% end %>
    <% if can? :destroy, @survey %>
      <li><%= link_to "Destroy #{@survey.name.inspect}", @survey, :class => "delete", :confirm => 'Are you sure?', :method => :delete %></li>
    <% end %>
  <ul>
</nav>
<div class="clear"></div>

<%= markdown "##Editing Survey: #{@survey.name}" %>
<%= render 'form' %>
