<% title "Listing Surveys" %>
<%= render 'surveys/links' %>

<%= markdown "###{yield(:title)}" %>
<table>
  <tr>
    <th>Name <em>(Click to Show)</em></th>
    <th>Edit</th>
    <th>Destroy?</th>
  </tr>
  <% for survey in @surveys %>
    <tr>
      <td>
        <% if can? :index, survey %>
          <%= link_to survey.name, survey %>
        <% end %>
      </td>
      <td>
        <% if can? :edit, survey %>
          <%= link_to "Edit", edit_survey_path(survey) %>
        <% end %>
      </td>
      <td>
        <% if can? :destroy, survey %>
          <%= link_to "Destroy", survey, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

