<% title "Showing Survey" %>
<%= render 'surveys/links' %>
<br />
<nav class="short round">
  <ul>
    <% if can? :edit, @survey %>
      <li><%= link_to "Edit", edit_survey_path(@survey) %> |</li>
    <% end %>
    <% if can? :destroy, @survey %>
      <li><%= link_to "Destroy", @survey, :class => "delete", :confirm => 'Are you sure?', :method => :delete %> |</li>
    <% end %>
    <% if can? :index, @survey %>
      <li><%= link_to "View All", surveys_path %> |</li>
    <% end %>
    <% if can? :report, @survey %>
      <li><%= link_to "View Report", report_survey_path(@survey) %></li>
    <% end %>
  </ul>
</nav>
<div class="clear"></div>

<%= markdown "##Showing Survey: #{@survey.name}" %>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<ol>
  <% for question in @survey.questions %>
    <li><%= question.content %></li>
    <ul>
      <% for answer in question.answers %>
        <li><%= answer.content %></li>
      <% end %>
    </ul>
  <% end %>
</ol>

