<header>
  <nav class="nice_round">
    <div id="menu_links">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Surveys", surveys_path %></li>
        <% end %>
      </ul>
    </div>
    <div id="current_user">
      <% if current_user %>
        <%= link_to "Change Password", edit_user_password_path %> |
        Logged in as <%= current_user.name %>. <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Log In", login_path %>
      <% end %>
     </div>
     <div class="clear"></div>
  </nav>
</header>
